@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
}

.hero_ui {
  padding: 100px 0px;
  background-image: linear-gradient(15deg, #738FA7, #0C4160);
}

.heroUi_wraper {
  padding: 3rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.hero_text_content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.hero_text_content span {
  color: #0C4160;
}
.hero_text_content h1 {
  font-family: Poppins;
  font-family: 600;
  font-size: 3rem;
  text-align: left;
  color: #071330;
}
.hero_text_content p {
  padding: 1rem 0rem;
  font-family: Inter;
  font-size: 1.5rem;
  color: #0C4160;
}

.hero_img {
  height: 520px;
  width: 520px;
}

.feture {
  padding: 80px 0px;
  height: 100%;
}

.discover {
  height: 100%;
  padding: 0px 60px;
}

.discover_section_wraper {
  padding: 80px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.discover_text {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0px 40px;
}
.discover_text span {
  color: #0C4160;
  font-family: Poppins;
}
.discover_text h1 {
  font-size: 36px;
  padding: 20px 0px;
  font-family: Poppins;
}
.discover_text p {
  padding: 8px 0px;
  font-family: Inter;
  color: #0C4160;
}

.group_key_text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.group_key_text p {
  color: #071330;
}

.client {
  height: 100%;
}

.client_text_section {
  padding: 0px 60px;
  height: 440px;
  background: #0C4160;
  display: flex;
}

.client_text {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 30%;
}

.client_key_text {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.text_wraper h1 {
  font-size: 36px;
  color: #fff;
}
.text_wraper p {
  color: #fff;
}

.client_card {
  margin-top: -100px;
}

.portfolio {
  height: 100%;
  padding: 80px 0px;
}

.footer {
  background-color: #0C4160;
  height: 260px;
}

.index {
  height: 100px;
  width: 200px;
  background: #0000ff;
}

.hero_btn_wraper {
  padding: 1rem 0rem;
}

.hero_btn {
  background: #a020f0;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}

.hero_btn:hover {
  transform: translateX(0.2rem);
  transition: 0.2s all;
}

.nav_bar {
  width: 100%;
  height: 4rem;
  font-family: Poppins;
  color: #071330;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: #C3CEDA;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
nav a {
  padding: 0px 12px;
  text-decoration: none;
  color: #071330;
  font-size: 1.2rem;
  font-weight: 900;
}

nav a:hover {
  transform: translateY(0.2rem);
  transition: 0.8s all;
}

.nav_icon {
  width: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav_icon a {
  text-decoration: none;
  color: #071330;
}
.nav_icon a i {
  font-size: 18px;
}

.nav_icon a:hover {
  transform: translateY(0.2rem);
  transition: 0.5s all;
}

.ham__menu {
  display: none;
  cursor: pointer;
}

@media (max-width: 960px) {
  .nav_bar i {
    display: flex;
  }
  .nav_items {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    height: 0;
    color: #333652;
    background-color: #7b8288;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s all;
  }
  .nav_items a {
    padding: 32px 0px;
    cursor: pointer;
  }
  .nav_items a:hover {
    transform: translateX(4px);
    transition: 0.5s all;
  }
  .active {
    height: auto;
    opacity: 0.8;
  }
}
.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.card_body {
  margin: 12px 0px;
  background-color: #738FA7;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
.card_body i {
  font-size: 32px;
}
.card_body p {
  padding: 0px 20px;
}

.feature_text_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature_title {
  padding: 20px 0px;
  color: #071330;
  font-size: 18px;
  font-family: Inter;
}

.feature_content {
  font-family: Poppins;
  text-align: center;
  width: 40%;
  padding: 0px 0px 36px 0px;
  font-size: 24px;
  color: #0C4160;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.discover_img {
  transform: translateX(-300px);
  opacity: 0;
  transition: all 2s ease;
}

.discover_img.imgActive {
  transform: translateX(0px);
  opacity: 1;
}

@media (max-width: 1060px) {
  .hero_text_content {
    text-align: center;
    width: 100%;
  }
  .hero_text_content p {
    text-align: center;
  }
  .hero_text_content h1 {
    text-align: center;
    font-size: 24px;
  }
  .hero_ui {
    padding: 100px 0px;
  }
  .heroUi_wraper {
    padding: 0px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .discover_section_wraper {
    flex-wrap: wrap;
  }
  .discover {
    padding: 0px 12px !important;
  }
  .discover_text {
    padding: 44px 16px;
  }
  .hero_img {
    height: 340px;
    width: 340px;
  }
  .second {
    flex-direction: column-reverse !important;
  }
  .feature_text_box h1 {
    width: 80%;
  }
  .client_text_section {
    flex-direction: column !important;
    align-items: center;
    padding: 0px !important;
  }
  .client_text {
    padding: 40px 0px !important;
    width: 80% !important;
  }
}
@media (max-width: 960px) {
  .hero_text_content {
    width: 100%;
  }
  .hero_text_content p {
    padding: 0px 12px;
  }
  .hero_text_content h1 {
    padding: 20px 12px;
    font-size: 24px;
  }
  .heroUi_wraper {
    padding: 0px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .hero_img {
    padding: 20px 0px;
    height: 320px;
    width: 300px;
  }
  .discover {
    padding: 0px 12px !important;
  }
  .feature_text_box h1 {
    width: 80%;
  }
  .second {
    flex-direction: column-reverse !important;
    padding: 0px 12px !important;
  }
  .second_text {
    padding: 44px 16px !important;
  }
}