@import '../variables';

.nav_bar{
  width: 100%;
  height: 4rem;
  font-family: $--base-heading-Font;
  color: $--base-heading-color;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: $--base-page-background;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 
  a{
    padding: 0px 12px;
    text-decoration: none;
    color: $--base-heading-color;
    font-size: $--base-navFont-size;
    font-weight: $--base-navFont-weight;
  }
}

nav{
  a:hover{
    transform: translateY(0.2rem);
    transition: 0.8s all;
  }
}

.nav_icon{
  width: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a{
    text-decoration: none;
    color: $--base-heading-color;
    i{
      font-size: $--font-size-md;
    }
  }
}

.nav_icon{
    a:hover{
      transform: translateY(0.2rem);
      transition: 0.5s all;
    }
}

.nav_bar i{
  display: none;
  cursor: pointer;
}


@media(max-width: map-get($--breakpoint,"lg")){
  .hero_ui{
    height: 100%;
    padding: 80px 0px;
  }
  
  .nav_bar i{
    .ham__menu{
      text-align: left;
    }

    display:flex;

  }

  .nav_items{
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    height: 0;
    color: #333652;;
    background-color: #7b8288;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s all;
  }

  .nav_items{
    a{
      cursor: pointer;
    }
  }

  .nav_items{
    a:hover{
      transform: translateX(4px);
      transition: 0.5s all;
    }
  }

    .active{
      height: 450px;
      opacity: 0.8;
    }

};