@import './colors';

*{
  margin: 0;
  padding: 0;
}

//Hero ui
.hero_ui{
  padding: 100px 0px;
  background-image: $--base-linear-background;
}

.heroUi_wraper{
  padding: 3rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.hero_text_content{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  span{
    color: $--base-span-color;
  }
  h1{
    font-family: $--base-heading-Font;
    font-family: 600;
    font-size: 3rem;
    text-align: left;
    color: $--base-heading-color;
  }
  p{
    padding: 1rem 0rem;
    font-family: $--base-title-Font;
    font-size: 1.5rem;
    color: $--base-title-color;
  }
}

.hero_img{
  height: 520px;
  width: 520px;
}

.feture{
  padding: 80px 0px;
  height: 100%;
}


//discover
.discover{
  height: 100%;
  padding:  $--base-padding;
}
.discover_section_wraper{
  padding: 80px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.discover_text{
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  align-items: flex-start;
  padding: 0px 40px;
  span{
    color: $--base-span-color;
    font-family: $--base-heading-Font;
  }
  h1{
    font-size: $--font-size-xl;
    padding: $--title-padding;
    font-family: $--base-heading-Font;
  }
  p{
    padding: 8px 0px;
    font-family: $--base-title-Font;
    color: $--base-title-color;
  }
}

.group_key_text{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  p{
    color: $--base-heading-color;
  }
}


// client
.client{

  height: 100%;
}
.client_text_section{
  padding: $--base-padding;
  height: 440px;
  background: $--base-btn-color;
  display: flex;
}
.client_text{
  
  font-size: $--font-size-md;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $--base-color-white;
  width: 30%;
}
.client_key_text{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.text_wraper{
  h1{
    font-size: $--font-size-xl;
    color: $--base-color-white;
  }
  p{
    color: $--base-color-white;
  }
}
.client_card{
  margin-top: -100px;
}

.portfolio{
  height: 100%;
  padding: 80px 0px;
}

.footer{
  background-color: $--base-title-color;
  height: 260px;
}


.index{
  height: 100px;
  width: 200px;
  background: $--base-color-blue;
}


// footer

.footer_wraper{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
