
$--base-color-blue:#0000ff;
$--base-color-red:#e32227;
$--base-color-yellow:#ffbf00;
$--base-color-green:#00ff00;
$--base-color-purple:#a020f0;
$--base-color-grey:#8d918d;
$--base-color-black:#0a0a0a;
$--base-color-white: #fff;

$--base-page-background:#C3CEDA;
$--base-heading-color: #071330;
$--base-title-color: #0C4160;
$--base-span-color:#0C4160;
$--base-btn-color:#0C4160;
$--base-card-background: #738FA7;
$--base-color-wht:  #ffffff;
$--base-section-text-color:#ffffff;