// hero media
@media(max-width: map-get($--breakpoint,"xl")){
  .hero_text_content{
    text-align: center;
    p{
      text-align: center;
    }
    h1{
      text-align: center;
      font-size: 24px;
    }
   
    width: 100%;
  }
  .feture{
    height: 100%;
  }
  .discover{
    height: 100%;
  }
  // change flex direction
  .heroUi_wraper{
    padding: 0px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .discover_section_wraper{
    flex-wrap: wrap;
  }
  .discover{
    padding: 0px 12px !important;
  }
  .discover_text{
    padding: 44px 16px;
  }
  // change img size
  .hero_img{
    height: 340px;
    width: 340px
  }
  .second{
    flex-direction: column-reverse !important;
  }
  .feature_text_box{
    h1{
      width: 80%
    }
  }

  .client_text_section{
    flex-direction: column !important;
    align-items: center;
    padding: 0px !important;
  }
  .client_text{
    padding: 40px 0px !important;
    width: 80% !important;

  }
};


@media(max-width: map-get($--breakpoint,"lg")){
  .hero_text_content{
    p{
      padding: 0px 12px;
    }
    h1{
      padding: 20px 12px;
      font-size: 24px;
    }
   
    width: 100%;
  }
  .heroUi_wraper{
    padding: 0px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .hero_img{
    padding: 20px 0px;
    height: 320px;
    width: 300px
  }
  .discover{
    padding: 0px 12px !important;
  }
  .feature_text_box{
    h1{
      width: 80%
    }
  }
  .second{
    flex-direction: column-reverse !important;
    padding: 0px 12px !important;
  }
  .second_text{
    padding: 44px 16px !important
  }
};